html {
	margin: 0;
	padding: 0;
	
}
body {
	width: 95vw;
	height: 95vh;
	background: #1c1c1e;
	display: flex;
	justify-content: center;
	align-items: center;
}

p {
	font-family: 'Lato', sans-serif;
	color: aliceblue;
	margin-bottom: 0;
	font-weight: 100;
}

li {
	text-align: left;
}

a {
	text-decoration: none;
	color: aliceblue;
	font-weight: 400;
}

li:hover {
	text-decoration: underline;
	/* text-decoration-style: dotted; */
	cursor: pointer;
	text-underline-position: under;
	text-decoration-color: aliceblue;
}

.profile-container {
	display: flex;
	align-items: center;
	padding: 0;
}

.about-me {
	z-index: 1;
	position: relative;
	right: 2.5vw;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.pic {
	margin-right: 2vw;
}

ul li{
	display: inline;
	padding: 0;
	font-family: 'Lato', sans-serif;
	color: aliceblue;
}

ul {
	padding: 0;
}

li {
	margin-right: 1vw;
}


@keyframes transitionIn {
	from {
		opacity: 0;
		transform: rotateX(-15deg);
	}

	to {
		opacity: 1;
		transform: rotateX(0);
	}
}

/* Dropdown Button */
.dropbtn {
	border: none;
	font-weight: 400;
	border: none;
	background: none;
	font-family: 'Lato', sans-serif;
	color: aliceblue;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
	display: none;
	position: absolute;
	min-width: 14vw;
	padding-top: 1vw;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: aliceblue;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown:hover .dropdown-content {display: block;}
