/*
Important sources used:
https://stackoverflow.com/questions/25484894/css-transparent-buttons-with-borders;
*/
body
{
	background: white;
	background-repeat: no-repeat;
	background-size: cover;
  	/*background-position: : 50% 50%;*/
  	color: black;
  	position: center;
  	/*width: 40%;*/
}

h1
{
	/*font-family: 'IBM Plex Sans Condensed', sans-serif;*/
	font-family: 'Assistant', sans-serif;
	font-weight: lighter;
	font-size: 40px;
	margin-left: 400px;
	margin-top: 150px;
}

h2
{
	font-family: 'Assistant', sans-serif;
	font-weight: lighter;
	font-size: 20px;
	margin-left: 400px;
	margin-top: -22px;


}

h3
{
	font-family: 'Assistant', sans-serif;
	font-weight: lighter;
	font-size: 20px;
	margin-left: 400px;
	margin-top: 13px;
}

.container
{
	margin-top: 0px;
}

.btn
{
	/*background-color: transparent;*/
	background: black;
	color: white;
	border:none;
    border:solid 2px black;
    border-radius: 8px;
}

.b1
{
	margin: 0;
	padding: 0;
	margin-left: 400px;
	padding: 5px 20px;
	font-family: 'Assistant', sans-serif;
	font-weight: lighter;
	font-size: 29px;
	cursor: pointer;
	width: 13%;

}

.b2
{
	margin-left: 5px;
	padding: 5px 20px;
	font-family: 'Assistant', sans-serif;
	font-weight: lighter;
	font-size: 29px;
	cursor: pointer;
	width: 13%;

}

.btn:hover
{
	background: white;
	color: black;
    border:solid 2px black;
    transition: 0.7s;
    border-style: double black;
    font-weight: bold;

}
